---
import simpleImage from "../../assets/screens/simple.png";
import arrayOfArrays from "../../assets/screens/thumbs/arrayofarrays.png";
import cryptoImage from "../../assets/screens/thumbs/crypto.png";
import {Image} from "astro:assets";
import ContentSection from "../content-section.astro";
import DemoCard from "./demo-card.astro";
---

<ContentSection
    title="Showcase"
    id="demos">
  <Fragment slot="lead">
    On this page, you will find <span class="text-primary">a&nbsp;lot&nbsp;of&nbsp;demos</span>{" "}
    of our <span class="text-primary">fantastic&nbsp;table&nbsp;component</span>.<br>
    If you are missing something,{" "}
    please send us a
    <a
        href="mailto:info&#64;gui.expert"
        class="underline">message
    </a>
    .
  </Fragment>


  <div class="max-w-6xl space-y-2">
    <div class="grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">

      <div>
        <DemoCard
            title="Simple Table: Array of Arrays"
            img={arrayOfArrays}
            url="/showcase/arrayofarrays/run">
          <p>
            An array of arrays data structure can be easily converted in a
            <a
                class="text-primary"
                target="_blabk"
                href="/api/classes/TableModel.html">TableModel
            </a>
            with help of TableFactory
            <a
                class="text-primary"
                href="/api/classes/TableFactory.html#createTableModel"
                target="blank">.createTableModel()
            </a>
            {'.'}
          </p>
        </DemoCard>
      </div>


      <div>
        <DemoCard
            title="Cryptos"
            img={cryptoImage}
            url="/showcase/crypto/run">
          <p>
            An array of arrays data structure can be easily converted in a
            <a
                class="text-primary"
                target="_blabk"
                href="/api/classes/TableModel.html">TableModel
            </a>
            with help of TableFactory
            <a
                class="text-primary"
                href="/api/classes/TableFactory.html#createTableModel"
                target="blank">.createTableModel()
            </a>
            {'.'}
          </p>
        </DemoCard>
      </div>

      <div>
        <DemoCard
            title="Simple Table: Array of Arrays"
            img={simpleImage}
            url="/showcase/arrayofarrays/run">
          <p>
            An array of arrays data structure can be easily converted in a
            <a
                class="text-primary"
                target="_blabk"
                href="/api/classes/TableModel.html">TableModel
            </a>
            with help of TableFactory
            <a
                class="text-primary"
                href="/api/classes/TableFactory.html#createTableModel"
                target="blank">.createTableModel()
            </a>
            {'.'}
          </p>
        </DemoCard>
      </div>

      <div>
        <DemoCard
            title="Simple Table: Array of Arrays"
            img={simpleImage}
            url="/showcase/arrayofarrays/run">
          <p>
            An array of arrays data structure can be easily converted in a
            <a
                class="text-primary"
                target="_blabk"
                href="/api/classes/TableModel.html">TableModel
            </a>
            with help of TableFactory
            <a
                class="text-primary"
                href="/api/classes/TableFactory.html#createTableModel"
                target="blank">.createTableModel()
            </a>
            {'.'}
          </p>
        </DemoCard>
      </div>

      <div>
        <DemoCard
            title="Simple Table: Array of Arrays"
            img={simpleImage}
            url="/showcase/arrayofarrays/run">
          <p>
            An array of arrays data structure can be easily converted in a
            <a
                class="text-primary"
                target="_blabk"
                href="/api/classes/TableModel.html">TableModel
            </a>
            with help of TableFactory
            <a
                class="text-primary"
                href="/api/classes/TableFactory.html#createTableModel"
                target="blank">.createTableModel()
            </a>
            {'.'}
          </p>
        </DemoCard>
      </div>

      <div>
        <DemoCard
            title="Simple Table: Array of Arrays"
            img={simpleImage}
            url="/showcase/arrayofarrays/run">
          <p>
            An array of arrays data structure can be easily converted in a
            <a
                class="text-primary"
                target="_blabk"
                href="/api/classes/TableModel.html">TableModel
            </a>
            with help of TableFactory
            <a
                class="text-primary"
                href="/api/classes/TableFactory.html#createTableModel"
                target="blank">.createTableModel()
            </a>
            {'.'}
          </p>
        </DemoCard>
      </div>

      <div>
        <DemoCard
            title="Simple Table: Array of Arrays"
            img={simpleImage}
            url="/showcase/arrayofarrays/run">
          <p>
            An array of arrays data structure can be easily converted in a
            <a
                class="text-primary"
                target="_blabk"
                href="/api/classes/TableModel.html">TableModel
            </a>
            with help of TableFactory
            <a
                class="text-primary"
                href="/api/classes/TableFactory.html#createTableModel"
                target="blank">.createTableModel()
            </a>
            {'.'}
          </p>
        </DemoCard>
      </div>

      <div>
        <DemoCard
            title="Simple Table: Array of Arrays"
            img={simpleImage}
            url="/showcase/arrayofarrays/run">
          <p>
            An array of arrays data structure can be easily converted in a
            <a
                class="text-primary"
                target="_blabk"
                href="/api/classes/TableModel.html">TableModel
            </a>
            with help of TableFactory
            <a
                class="text-primary"
                href="/api/classes/TableFactory.html#createTableModel"
                target="blank">.createTableModel()
            </a>
            {'.'}
          </p>
        </DemoCard>
      </div>

      <div>
        <DemoCard
            title="Simple Table: Array of Arrays"
            img={simpleImage}
            url="/showcase/arrayofarrays/run">
          <p>
            An array of arrays data structure can be easily converted in a
            <a
                class="text-primary"
                target="_blabk"
                href="/api/classes/TableModel.html">TableModel
            </a>
            with help of TableFactory
            <a
                class="text-primary"
                href="/api/classes/TableFactory.html#createTableModel"
                target="blank">.createTableModel()
            </a>
            {'.'}
          </p>
        </DemoCard>
      </div>

      <div>
        <DemoCard
            title="Simple Table: Array of Arrays"
            img={simpleImage}
            url="/showcase/arrayofarrays/run">
          <p>
            An array of arrays data structure can be easily converted in a
            <a
                class="text-primary"
                target="_blabk"
                href="/api/classes/TableModel.html">TableModel
            </a>
            with help of TableFactory
            <a
                class="text-primary"
                href="/api/classes/TableFactory.html#createTableModel"
                target="blank">.createTableModel()
            </a>
            {'.'}
          </p>
        </DemoCard>
      </div>

    </div>

  </div>
</ContentSection>

